html {
  min-height: 100%;
  position: relative;

}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #F0FFFF;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  background-color: #DAA520	}

.navbar-brand{
  font-family: forte;
  font-size: 52px;
  color: #00bfff;
}

li{
  font-weight: bolder;
  color: black;
  font-size: 22px;
  font-family: forte;
}
.navbar-nav  li a:hover {
    color: #FFA500 !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #DAA520	;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
